*.csv
misc/*
*.json
**.npy
**.pkl
**pickle
**.xlsx
**.txt
**.h5
**tar.gz

# ignore realms_node except for .js files
!realms_node/
!realms_node/*.js
!realms_node/package.json
!realms_node/package-lock.json
# ignore the node_modules directory
realms_node/node_modules/

# ignore this for now...
DATA

**.parquet

**/.DS_Store